body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: linear-gradient(#F5D2D2, #F9E9E9);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #E5B1B3;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #F9E9E9;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #F9E9E9;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #F9E9E9;
}

.button{
    border: none;
    width: 100%;
    color: #F9E9E9;
    font-size: 20px;
    background:  #94747B;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: rgb(212, 184, 206);
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #94747B;
    font-weight: 600;
}
.link:hover{
     color: #F9E9E9;
}

.btn{
  display: inline-block;
  text-align: center; 
  text-decoration: none;
  border: none;
  width: 100%;
  color: #F9E9E9;
  font-size: 20px;
  background: #94747B;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;

}

.btn:hover{
  background: #F9E9E9;
}


@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}
