


.wrapper-search{
    position: absolute;
    font-family: 'Josefin Sans',sans-serif;
    transform: translate(110%);
  }
  
  .wrapper-search .search_box{
    
    width: 600px;
    background: #fff;
    border-radius: 5px;
    height: 65px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px #979797;
  }
  
  .wrapper-search .search_box .dropdown{
    width: 200px;
    border-right: 2px solid #dde2f1;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
  }
  
  .wrapper-search .search_box .dropdown .default_option{
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 14px;
  }
  
  .wrapper-search .search_box .dropdown ul{
    position: absolute;
    top: 60px;
    left: -10px;
    background: #fff;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    display: none;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
  }
  
  .wrapper-search .search_box .dropdown ul.active{
    display: block;
  }
  
  .wrapper-search .search_box .dropdown ul li{
    padding-bottom: 5px;
  }
  
  .wrapper-search .search_box .dropdown ul li:last-child{
    padding-bottom: 0;
  }
  
  .wrapper-search .search_box .dropdown ul li:hover{
    color: #6f768d;
  }
  
  .wrapper-search .search_box .dropdown:before{
    content: "";
    position: absolute;
    top: 18px;
    right: 20px;
    border: 8px solid;
    border-color: #b68193 transparent transparent transparent;
  }
  
  .wrapper-search .search_box .search_field{
    width: 350px;
    height: 100%;
    position: relative;
  }
  
  .wrapper-search .search_box .search_field .input{
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 38px;
    color: #6f768d;
  }
  
  .wrapper-search .search_box .search_field .fas{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: #b68193;
    cursor: pointer;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9fa3b1;
  }
  ::-moz-placeholder { /* Firefox 19+ */
   color: #9fa3b1;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #9fa3b1;
  }

  .blog-post-wall{
  
    margin-top: 120px;
  }

  
  ::selection{
    color: #fff;
    background: #b68193;
  }
  .wrapper-range{
    font-family: 'Josefin Sans',sans-serif;
    transform: translate(230%, 40%);
    width: 380px;
    color: #353643;
    background: #fff;
    border-radius: 10px;
    padding: 15px 20px 20px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  }
  header h2{
    font-size: 24px;
    font-weight: 600;
  }
  header p{
    margin-top: 5px;
    font-size: 16px;
  }
  .price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #b68193;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #E4B2B3;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #E4B2B3;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }