/* --::::GENERAL::::::-- */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
	
}
body{
  background-image: linear-gradient(#F5D2D2, #F9E9E9);
  background-size: 100vw 200vh;
  background-repeat: no-repeat;
}

/* --::::MORE::::::-- */
.sidebar .text{
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.sidebar .image{
  min-width: 100px;
  display: flex;
  align-items: center;
}

/* --::::FORSIDEBARCONFIG::::::-- */
:root{

  /*--::::COLORES::::::--*/
--body-color: #353643;/*--::::Por si acaso::::::--*/
--sidebar-color: #353643;
--primary-color: #94747B;
--primary-color-light: #F9E9E9;
--toggle-color: #81caba;
--text-color: #F9E9E9;
/*--::::TRANSICION::::::--*/
--tran-03: all 0.2s ease;
--tran-03: all 0.3s ease;
--tran-04: all 0.4s ease;
--tran-05: all 0.5s ease;
}

/* --::::SIDEBAR::::::-- */

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 20px;
  background: var(--sidebar-color);
}

.sidebar li{
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;

}

.sidebar li .icon{
    font-size: 22px;

}
.sidebar li .icon,
.sidebar li .text{
  color: var(--text-color);

}

.sidebar header{
  position: relative;
}

.sidebar .image-text img {
width: 100px;
border-radius: 6px;

}

.sidebar header .image-text{
  display: flex;
  align-items: center;
}

header .image-text .header-text{
  display: flex;
  flex-direction: column;

}

.header-text .name{
  
  font-weight: 600;
}

.header-text .slogan{
  margin-top: -2px;
}

.sidebar header .toggle{
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color:var(--primary-color-light);
  font-size: 25px;
}

.sidebar li a{
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}


  /*--::::BANNER::::::--*/
 .header{
  font-family: 'Fredoka One', cursive;
  text-align: center;
  background-color: #B48A8E;
  width: 100%;
  height: 90px;
  position: fixed;
  
 }

.logobanner h1{
  color: #F9E9E9;
  font-weight: 400;
  font-size: 40px;
  margin-left: 10px;
  margin-top: 20px;
 
}

.logobanner img{
  
  height: 70px;
  cursor: pointer;
  margin-left: 1500px;
  margin-top: -60px;
}

.header .nav-links{
  list-style: none;
  margin-top: -50px;  
  font-size: 20px;
}

.header .nav-links li{
  display: inline-block;
  
}

.header .nav-links a{
  font-size: 700;
  color: #F9E9E9;
  text-decoration: none;
  margin-left: 1670px;
   
}


/*--::::POSTS::::::--*/
.content {
  position:-webkit-sticky;
  
  padding: 80px;
}
.columna {

  margin-top: 50px;
}
.fakeimg {
  background-color: #a4cccc;
  width: 100%;
  padding: 20px;
}
.card {
  margin-top: 100px;
  background-color: #fbffff;
  padding: 35px;
  margin-top: 20px;
}


/*--::::FOOTER::::::--*/
.pie-pagina{
  width: 100%;
  background-color: #353643;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: #94747B;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #94747B;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #94747B;
  margin-right: 10px;
  background-color: #4d4e5c;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: #81caba;
}
.pie-pagina .grupo-2{
  background-color: #4d4e5c;
  padding: 15px 10px;
  text-align: center;
  color: #94747B;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}