body {
    font-family: Arial;
    padding: 10px;
    background: #c9a4c5;
  }

  
  .header {
    padding: 30px;
    text-align: center;
    background: rgb(235, 196, 236);
  }



  h1 {
    color: rgb(93, 32, 91);
  }
  p {
    color: rgb(202, 150, 188);
  }

/* Fake image */
.fakeimg {
    background-color:rgb(171, 160, 172);
    width: 
    100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: 6rgb(218, 200, 221);
    margin-top: 20px;
  }









 /* Login y Registro */


  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  rgb(150, 80, 160);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: rgb(212, 184, 206);
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: rgb(150, 80, 160);
    font-weight: 600;
}
.link:hover{
     color: rgb(212, 184, 206);
}

.btn{
  display: inline-block;
  text-align: center; 
  text-decoration: none;
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background:  rgb(150, 80, 160);
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;

}

.btn:hover{
  background: rgb(212, 184, 206);
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}



  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other 
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  } */
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other 
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  } */


